streamlit
openai-whisper
faster-whisper
torch
torchaudio
torchvision
moviepy
ffmpeg-python
speechrecognition
pytube
youtube_transcript_api
google-generativeai
python-dotenv
numba==0.57.0
llvmlite==0.40.1
numpy
